---
import TimeLineElement from "./cv/TimeLine.astro";
---

<div class="mb-5">
    <div class="text-3xl w-full font-bold">Press</div>
</div>

<div class="mb-5 text-justify">
    Currently, I am pursuing a Master's degree in Computer Engineering from the
    University of Central Florida where I am a member of the. Take a look at
    some of the cool teams I have been a part of. Each opportunity added
    valuable skills and knowledge to my repitore that I would love to bring to
    your team next!
</div>

<div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
        title="University of Central Florida"
        subtitle="Aug 2024 to Present - Orlando, FL"
    >
        <text class="text-primary"
            >Master of Science - Computer Engineering</text
        >
    </TimeLineElement>
    <TimeLineElement
        title="University of Central Florida"
        subtitle="Aug 2024 to Present - Orlando, FL"
    >
        <text class="text-primary"
            >Master of Science - Computer Engineering</text
        >
    </TimeLineElement>
    <TimeLineElement
        title="University of Central Florida"
        subtitle="Aug 2024 to Present - Orlando, FL"
    >
        <text class="text-primary"
            >Master of Science - Computer Engineering</text
        >
    </TimeLineElement>
</div>
