---
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<div class="mb-5">
    <div class="text-3xl w-full font-bold">Resume</div>
</div>

<div class="mb-5 text-justify">
    Currently, I am pursuing a Master's degree in Computer Engineering from the
    University of Central Florida where I am a member of the <a
        class="link link-accent"
        href="https://thedracolab.com/"
        target="_blank"
        >Design of Resilient Architectures for Computing (DRACO) lab</a
    >.
</div>

<div class="mb-10 text-justify">
    Take a look at some of the cool teams I have been a part of. Each
    opportunity added valuable skills and knowledge to my repertoire that I
    would love to bring to your team next!
</div>

<div class="mb-2">
    <div class="text-2xl w-full font-bold">Education</div>
</div>

<div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
        title="University of Central Florida"
        subtitle="Aug 2024 to Present - Orlando, FL"
    >
        <text class="text-secondary"
            >Master of Science - Computer Engineering</text
        >
    </TimeLineElement>

    <TimeLineElement
        title="University of Wyoming"
        subtitle="Aug 2020 to May 2024 - Laramie, WY"
    >
        <text class="text-secondary"
            >Bachelor of Science - Computer Science | GPA: 4.0</text
        >
    </TimeLineElement>
</div>

<div class="mb-2">
    <div class="text-2xl w-full font-bold">Experience</div>
</div>

<div class="time-line-container mb-10">
    <TimeLineElement
        title="Graduate Researcher"
        subtitle="University of Central Florida / Design of Resilient Architectures for Computing (DRACO) Lab | Aug 2024 - Present"
    >
        <span class="text-accent">Research:</span> Exploring advanced topics in
        computer engineering and software through side channel analysis.
        Designing and executing experiments, gathering data, and applying
        statistical analysis to evaluate the performance of system architecture.

        <br />
        <span class="text-accent">Lab Management:</span> Overseeing the
        configuration and upkeep of lab systems, including computing resources
        and network infrastructure, to ensure operational efficiency and
        security.<br />
        <span class="text-accent">Mentorship and Collaboration:</span>
        Supporting undergraduate researchers through mentorship and fostering a
        collaborative learning environment. Assisting in research methodologies
        and contributing to the success of ongoing projects.
    </TimeLineElement>
    <TimeLineElement
        title="Software Developer"
        subtitle="Wyolution LLC | Dec 2022 - Present"
    >
        <span class="text-accent">PHP Migration:</span> Led migration of web
        apps from PHP7.x to PHP8.x ensuring backward compatibility for smooth
        end-user transitions. Analyzed code bases, updated deprecated functions,
        and enforced PHP8.x standards. <br />
        <span class="text-accent">Agile Development:</span> Supported the
        onboarding and ongoing development of three junior developers, leading
        bi-weekly sprints aligned with project requirements.<br />
        <span class="text-accent">Browser Automation:</span> Developed Node.js
        scripts utilizing Puppeteer to scrape dynamic assets and automate the
        production of detailed reports.
    </TimeLineElement>
    <TimeLineElement
        title="Supplemental Instruction Leader/TA"
        subtitle="University of Wyoming | Aug 2022 - Dec 2023"
    >
        <span class="text-accent">Curriculum Development:</span> Enhanced
        student comprehension through interactive learning activities and clear
        explanations. <br />
        <span class="text-accent">Student Support:</span> Promoted a positive
        learning environment by fostering inclusivity and addressing student
        concerns.
    </TimeLineElement>
    <TimeLineElement
        title="Undergraduate Researcher"
        subtitle="University of Wyoming / Cybersecurity Education and Research (CEDAR) Lab | Apr 2021 - Jun 2023"
    >
        <span class="text-accent">Leadership:</span> Led a team of five
        undergraduate students in the development of an informational,
        security-focused web application.<br />
        <span class="text-accent">Documentation:</span> Coordinated the
        documentation and resolution of bugs.
    </TimeLineElement>
    <TimeLineElement
        title="Software Developer"
        subtitle="Rocky Mountain Herbarium | Jun 2022 - Jun 2023"
    >
        <span class="text-accent">Collaborative UI/UX Design:</span> Worked with
        Figma to collaboratively design UI/UX prototypes, ensuring user-friendly
        interactions and aesthetics.<br />
        <span class="text-accent">End-to-End Implementation:</span> Implemented
        design choices on both the front-end and back-end, integrating REST APIs
        for data handling in the digital field guide for Wyoming's flora.
    </TimeLineElement>
    <TimeLineElement
        title="Critical Infrastructure Security Intern"
        subtitle="Idaho National Laboratory | Jun 2021 - Oct 2021"
    >
        <span class="text-accent">Analysis:</span> Supported structured and
        unstructured threat analysis.<br />
        <span class="text-accent">Research and Reporting:</span> Utilized
        open-source tools to create reports and conduct research.
    </TimeLineElement>
</div>

<div class="mb-2">
    <div class="text-2xl w-full font-bold">Skills</div>
</div>

<div class="grid-cols-6 gap-y-8 mb-10 hidden lg:grid">
    <div class="font-bold col-span-1">
        <ul class="list-none grid gap-2 text-primary">
            <li>Languages</li>
            <li>Frameworks</li>
            <li>Tools & Platforms</li>
            <li>Soft Skills</li>
        </ul>
    </div>
    <div class="col-span-5 ml-10">
        <ul class="list-none grid gap-2">
            <li>
                Python, PHP, C++, JavaScript, SQL, Bash, Java, Kotlin, Go,
                GraphQL, HTML5, CSS
            </li>
            <li>
                Next.js, React, Redux, Bootstrap, Tailwind CSS, Flask,
                Puppeteer, NodeJS, LAMP
            </li>
            <li>
                Git, Github, Bitbucket, Vercel, Docker, Figma, DDEV, AWS
                Amplify, Linux, Windows
            </li>
            <li>
                Collaboration, Critical Thinking, Attention to Detail, Public
                Speaking, Leadership
            </li>
        </ul>
    </div>
</div>

<div class="flex flex-col gap-y-3 lg:hidden mb-10">
    <div class="flex flex-row justify-between gap-x-3">
        <span class="font-bold text-primary">Languages</span>
        <p class="text-right">
            Python, PHP, C++, JavaScript, SQL, Bash, Java, Kotlin, Go, GraphQL,
            HTML5, CSS
        </p>
    </div>
    <div class="flex flex-row justify-between gap-x-3">
        <span class="font-bold text-primary">Frameworks</span>
        <p class="text-right">
            Next.js, React, Redux, Bootstrap, Tailwind CSS, Flask, Puppeteer,
            NodeJS, LAMP
        </p>
    </div>
    <div class="flex flex-row justify-between gap-x-3">
        <span class="font-bold text-primary">Tools & Platforms</span>
        <p class="text-right">
            Git, Github, Bitbucket, Vercel, Docker, Figma, DDEV, AWS Amplify,
            Linux, Windows
        </p>
    </div>
    <div class="flex flex-row justify-between gap-x-3">
        <span class="font-bold text-primary" >Soft Skills</span>
        <p class="text-right">
            Collaboration, Critical Thinking, Attention to Detail, Public
            Speaking, Leadership
        </p>
    </div>
</div>

<div class="mb-2">
    <div class="text-2xl w-full font-bold">Awards</div>
</div>

<ul
    class="list-disc mx-6 mb-10 grid gap-2"
>
    <li>
        College of Engineering and Physical Sciences Outstanding Senior - 2024
    </li>
    <li>
        Department of Electrical Engineering and Computer Science Honor Book
        Award - 2023
    </li>
    <li>Wyoming Educator Hackathon Winner - 2022</li>
    <li>Walmart Girls Who Code Scholarship Recipient - 2021</li>
    <li>Tau Beta Pi Outstanding Freshman - 2021</li>
    <li>University of Wyoming Trustees' Scholarship - 2020</li>
</ul>
